$mobile: 767px;
$tablet: 1023px;

@mixin mobile {
  @media (max-width: $mobile) {
    @content;
  }
}

@mixin tablet {
  @media (max-width: $tablet) {
    @content;
  }
}

.AppComics {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 65px;
  width: 1100px;
  margin-bottom: 50px;
  @include mobile {
    width: 100vw;
    flex-direction: column;
    gap: 50px;
    align-items: center;
  }
  @include tablet {
    width: 100vw;
    flex-direction: column;
    gap: 50px;
    align-items: center;
  }
}
.red-button {
  background-color: red;
  color: white;
  border: none;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  transition: 0.3s ease;
  transform: skewX(-10deg);
  width: 170px;
  height: 38px;
}

.red-button:hover {
  background-color: darkred;
  transform: skewX(-10deg) scale(1.05);
  box-shadow: 2px 4px 5px red;
}