.AppRandom {
  display: flex;
  max-width: 1100px;
  justify-content: center;
  align-items: center;
  height: auto;
  flex-wrap: wrap;
  margin-top: 25px;
}
@media (max-width: 767px) {
  .AppRandom {
    flex-direction: column;
    width: 100%;
    overflow: scroll;
  }
}
@media (max-width: 1023px) {
  .AppRandom {
    flex-direction: column;
    width: 100%;
    overflow: scroll;
  }
}

.AppRandom-cont {
  display: flex;
  justify-content: space-around;
  width: 550px;
  height: 250px;
  box-shadow: 5px 5px 20px 0 rgba(0, 0, 0, 0.25);
  background: #fff;
}
@media (max-width: 767px) {
  .AppRandom-cont {
    width: 100%;
    align-items: center;
    flex-direction: column;
    text-align: center;
    gap: 10px;
    height: auto;
    margin: 0;
    padding-bottom: 15px;
  }
}
@media (max-width: 1023px) {
  .AppRandom-cont {
    width: 100%;
    align-items: center;
    flex-direction: column;
    text-align: center;
    gap: 10px;
    height: auto;
    margin: 0;
    padding-bottom: 15px;
  }
}

.AppRandom-cont_load {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 550px;
  height: 250px;
  box-shadow: 5px 5px 20px 0 rgba(0, 0, 0, 0.25);
  background: #fff;
}
@media (max-width: 767px) {
  .AppRandom-cont_load {
    width: 100%;
    height: 400px;
  }
}
@media (max-width: 1023px) {
  .AppRandom-cont_load {
    width: 100%;
    height: 400px;
  }
}

.AppRandom-imgcont {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.AppRandom-info-buttons {
  display: flex;
  justify-content: space-around;
}
@media (max-width: 767px) {
  .AppRandom-info-buttons {
    flex-direction: column;
    gap: 10px;
    margin-top: 25px;
  }
}
@media (max-width: 1023px) {
  .AppRandom-info-buttons {
    flex-direction: column;
    gap: 10px;
    margin-top: 25px;
  }
}

.AppRandom-image {
  max-width: 180px;
  max-height: 180px;
}
@media (max-width: 767px) {
  .AppRandom-image {
    max-width: 240px;
    max-height: 240px;
    border-radius: 10%;
  }
}
@media (max-width: 1023px) {
  .AppRandom-image {
    max-width: 240px;
    max-height: 240px;
    border-radius: 10%;
  }
}

.AppRandom-info {
  margin: 0;
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 8%;
}

.AppRandom-info-name {
  font-weight: 700;
  font-size: 22px;
  color: #000;
  margin: 0;
}

.AppRandom-info-description {
  margin: 0;
  font-size: 12px;
}

.AppRandom-description {
  font-weight: 400;
  font-size: 14px;
  color: #000;
}

.AppRandom-info-button_home {
  width: 101px;
  height: 38px;
  background-color: red;
}

.AppRandom-info-button_wiki {
  width: 101px;
  height: 38px;
  background-color: gray;
}

.AppRandom-try {
  position: relative;
  width: 550px;
  height: 250px;
  box-shadow: 5px 5px 20px 0 rgba(0, 0, 0, 0.5);
  background: #232222;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
@media (max-width: 767px) {
  .AppRandom-try {
    position: static;
    width: 100%;
    height: auto;
    gap: 15px;
    padding: 15px 0;
    align-items: center;
  }
}
@media (max-width: 1023px) {
  .AppRandom-try {
    position: static;
    width: 100%;
    height: auto;
    gap: 15px;
    padding: 15px 0;
    align-items: center;
  }
}

.AppRandom-decoration {
  width: 202px;
  height: 189px;
  position: absolute;
  right: -30px;
  top: 50px;
}
@media (max-width: 767px) {
  .AppRandom-decoration {
    display: none;
  }
}
@media (max-width: 1023px) {
  .AppRandom-decoration {
    display: none;
  }
}

.AppRandom-description, .AppRandom-text {
  font-weight: 700;
  font-size: 24px;
  color: #fff;
}

.AppRandom-button {
  width: 101px;
  height: 38px;
  background-color: red;
}

.AppRandom-description {
  padding: 10px;
  height: 50%;
}
@media (max-width: 767px) {
  .AppRandom-description {
    padding: 0;
  }
}

.AppRandom-chose {
  padding: 10px;
  height: 50%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin: 0 0 30px 20px;
}
@media (max-width: 767px) {
  .AppRandom-chose {
    align-items: center;
    gap: 15px;
    margin: 0;
  }
}

.AppRandom-phraze {
  margin: 10px 0 10px 20px;
}

.AppRandom-text {
  margin: 0;
}

.cssload-container {
  width: 100%;
  height: 56px;
  text-align: center;
}

.cssload-speeding-wheel {
  width: 56px;
  height: 56px;
  margin: 0 auto;
  border: 3px solid rgb(0, 0, 0);
  border-radius: 50%;
  border-left-color: transparent;
  border-right-color: transparent;
  animation: cssload-spin 425ms infinite linear;
  -o-animation: cssload-spin 425ms infinite linear;
  -ms-animation: cssload-spin 425ms infinite linear;
  -webkit-animation: cssload-spin 425ms infinite linear;
  -moz-animation: cssload-spin 425ms infinite linear;
}

@keyframes cssload-spin {
  100% {
    transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@-o-keyframes cssload-spin {
  100% {
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@-ms-keyframes cssload-spin {
  100% {
    -ms-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@-webkit-keyframes cssload-spin {
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@-moz-keyframes cssload-spin {
  100% {
    -moz-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

/*# sourceMappingURL=app-random.css.map */
